<div class="about_page">
	<div class="img-hover-zoom--slowmo">
		<!-- <img src="assets/img/about.png"> -->
	</div>
	<div class="about">
		<div class="about-title">
			<h1> A Resume of the Prix Pictet </h1>
		</div>
		<div class="about-content">
			blah blah blah blah blah blah blah blah blah blah
			blah blah blah blah blah blah blah blah blah blah
			blah blah blah blah blah blah blah blah blah blah
			blah blah blah blah blah blah blah blah blah blah
			blah blah blah blah blah blah blah blah blah blah
			blah blah blah blah blah blah blah blah blah blah
	</div>
</div>
</div>
