.img-hover-zoom--slowmo img {
  transform-origin: 90% 90%;
  transition: transform 200s, filter 1s ease-in-out;
  filter: brightness(120%);
}

/* The Transformation */
.about_page:hover img {
  filter: brightness(100%);
  transform: scale(2);
}

img {
	width: 100vw;
	height: 100vh;
}

.about {
	position: absolute;
	color: white;
	width: 300px;
	height: 300px;
	top: 30%;
	left: 10%;
}