<div class="about_page">
	<div class="inner">
		
    </div>
    <div class="about">
		<div class="about-title">
			<h1> Ofer cohen disappear </h1>
		</div>
		<div class="about-content">
			You use a mirror to see your face, I analyze your birth
				chart & read cards to see your soul. I will tell you the truth even if it is not what you want to hear.
				I believe the truth can set you free. My purpose is not only to reveal your future, it is also my way to to heal and help you find the right path to success. I believe there are no ordinary people, each one is a start contain love and light, in my list of clients you will find people from all walk of life, a house wife who live in a remote village and need a relationship advice, a movie producer into casing or banker who seek for a stock market advice.
	    </div>
    </div>
</div>
