<div class="about_page">
	<div class="inner">
		
		<div class="about">
			<div class="about-title">
				<h1> A Resume of the Prix Pictet </h1>
			</div>
			<div class="about-content">
				blah blah blah blah blah blah blah blah blah blah
				blah blah blah blah blah blah blah blah blah blah
				blah blah blah blah blah blah blah blah blah blah
				blah blah blah blah blah blah blah blah blah blah
				blah blah blah blah blah blah blah blah blah blah
				blah blah blah blah blah blah blah blah blah blah
		    </div>
	    </div>
    </div>
</div>
