.counseling {
	// background-image: url("../../assets/img/temp.jpg");
	background-color: rgb(64,66,105);
	height: 100%; 
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

