<div class="intro_opacity">
<div class="intro">
	<div class="intro-title" >
		Introduction
	</div>
	<div class="flow-bottom-top">
		<div class="show_window">
			<div class="photo">
				<span  class="photo_1 active">
					<div class="opt"><img src="assets/img/intro/intro_1.jpg"></div>
					<div class="opt_v">
						<video width="400" height="300" autoplay muted loop>
							<source src="assets/video/intro_1.Ogg" type="video/Ogg">
						</video>
					</div>
				</span>
				<span  class="photo_2 prev">
					<div class="opt"> <img src="assets/img/intro/intro_2.jpg"></div>
					<div class="opt_v">
						<video width="400" height="300" autoplay muted loop>
							<source src="assets/video/intro_2.Ogg" type="video/Ogg">
						</video>
					</div>
				</span>
				<span  class="photo_3 ">
					<div class="opt"><img src="assets/img/intro/intro_3.jpg"></div> 
					<div class="opt_v">
						<video width="400" height="300" autoplay muted loop>
							<source src="assets/video/intro_3.Ogg" type="video/Ogg">
						</video>
					</div> 
					
				</span>
			</div>

			<!-- <div class="movies">
				<span class="video_1 active">
					<video 
						   width="400" height="300" autoplay muted loop>
						<source src="assets/video/intro_1.mp4" type="video/mp4">
					</video>
				</span>
				<span class="video_2 prev">
					<video 
						width="400" height="300" autoplay muted loop>
						<source src="assets/video/intro_2.mp4" type="video/mp4">
					</video>
				</span>
				<span class="video_3">
					<video
						width="400" height="300" autoplay muted loop>
						<source src="assets/video/intro_3.mp4" type="video/mp4">
					</video>
				</span>
			</div> -->
		

			<div class="intro_text">
				<div class="intro_text_title">
					 OFER <br /> COHEN 
				</div>
				<div class="intro_tex_content">
					<p data-text='I help ordinary people caught up in extraordinary situation.'
					class="method-1">
						I help ordinary people caught up in extraordinary situation
					</p>
				</div>

			
		</div>
	</div>
</div>
</div>