<div class="intro_opacity">
<div class="intro">
	<div class="flow-bottom-top">
		<div class="show_window">
			<div class="photo">
				<span  class="photo_1 active">
					<img src="assets/img/intro/intro_1.jpg">
				</span>
				<span  class="photo_2 prev">
					<img src="assets/img/intro/intro_2.jpg">
				</span>
				<span  class="photo_3 ">
					<img src="assets/img/intro/intro_3.jpg">
				</span>
			</div>

			<div class="movies">
				<span class="video_1 active">
					<video 
						   width="400" height="300" autoplay muted loop>
						<source src="assets/video/intro_1.mp4" type="video/mp4">
					</video>
				</span>
				<span class="video_2 prev">
					<video 
						width="400" height="300" autoplay muted loop>
						<source src="assets/video/intro_2.mp4" type="video/mp4">
					</video>
				</span>
				<span class="video_3">
					<video
						width="400" height="300" autoplay muted loop>
						<source src="assets/video/intro_3.mp4" type="video/mp4">
					</video>
				</span>
			</div>
		</div>

		<div class="intro_text">
			<div class="intro_text_title">
				<h1> Ofer cohen disappear </h1>
			</div>
			<div class="intro_tex_content">
				You use a mirror to see your face, I analyze your birth
				chart & read cards to see your soul. I will tell you the truth even if it is not what you want to hear.
				I believe the truth can set you free. My purpose is not only to reveal your future, it is also my way to to heal and help you find the right path to success. I believe there are no ordinary people, each one is a start contain love and light, in my list of clients you will find people from all walk of life, a house wife who live in a remote village and need a relationship advice, a movie producer into casing or banker who seek for a stock market advice.
			</div>

			
		</div>
	</div>
</div>
</div>