.nav-list {
    height: 100%;  
    position: absolute;      
}

a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}

mat-nav-list {
	padding: 100px 30px
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
}


.nav-caption{
    display: inline-block;
    color: white;
}

.close {
    position: absolute;
    top: 7%;
    right: 13%;
    color: white;
    z-index: 10;
    font-size: 16px;
    cursor: pointer;
}