mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
   
}

mat-sidenav {
    width: 250px;
}
 
mat-sidenav {
	background-color: #3C3C3C;
	width: 60%;
}

.progress {
	position: absolute;
	left: 5%;
	bottom: 3%;
	z-index: 10;	
	width: 90%;
	height: 1px;
	padding: 20px 0;
  	transition: height 0.3s;
  	transition-delay: 0.1s;
}

.progress:hover {
	cursor: pointer;
	height: 30px;
}