<div class="ast-inner">
	<div class="ast-inner-container">
		<div class="ast-inner-carousel">
			<div class="container">
				<div class="ast-inner-title" routerLink="/astrology">
					<p>HOROSCOPE FOR THE YEAR 2019</p>
				</div>
		      <div class="g-scrolling-carousel">
		        <div class="items">
		          <div >
		          	<div class="item_container">
		          		<div class="sunsign_title">
           		  		<div class="left_title">Aries</div>
           		  		<div class="mid_title"></div>
           		  		<div class="right_title">Taurus</div>
	           		  	</div>
	           		  	<div class="sunsign_text">
	           		  		<div class="left_text">
								{{sunsign_description.aries}}
	           		  		</div>
	           		  		<div class="mid_img">
	           		  			<img src="assets/img/astInner/aries_taurus/arie-middle.png">
	           		  		</div>
	           		  		<div class="right_text">
								{{sunsign_description.taurus}}
	           		  		</div>
	           		  		<div class="clear"></div>
	           		  	</div>
	           		  	<div class="sunsign_img">
	           		  		<div class="left_img">
	           		  			<img src="assets/img/astInner/aries_taurus/aries.png">
	           		  			<img src="assets/img/astInner/aries_taurus/aries_icon.png">
	           		  		</div>
	           		  		<div class="none_img"></div>
	           		  		<div class="right_img">
	           		  			<img src="assets/img/astInner/aries_taurus/taurus.png">
	           		  			<img src="assets/img/astInner/aries_taurus/taurus_icon.png">
	           		  		</div>
	           		  	</div>
		          	</div>
		          </div>
		          <div >
	          	  	<div class="item_container">
		          		<div class="sunsign_title">
           		  			<div class="left_title">Gemini</div>
           		  			<div class="mid_title"></div>
           		  			<div class="right_title">Cancer</div>
	           		  	</div>
	           		  	<div class="sunsign_text">
	           		  		<div class="left_text">
								{{sunsign_description.gemini}}
	           		  		</div>
	           		  		<div class="mid_img">
	           		  			<img src="assets/img/astInner/gemini-cancer/gemini_middle.png">
	           		  		</div>
	           		  		<div class="right_text">
								{{sunsign_description.cancer}}	 
	           		  		</div>
	           		  	</div>
	           		  	<div class="sunsign_img">
	           		  		<div class="left_img">
	           		  			<img src="assets/img/astInner/gemini-cancer/gemini.png">
	           		  			<img src="assets/img/astInner/gemini-cancer/gemini_icon.png">
	           		  		</div>
	           		  		<div class="none_img"></div>
	           		  		<div class="right_img">
	           		  			<img src="assets/img/astInner/gemini-cancer/cancer.png">
	           		  			<img src="assets/img/astInner/gemini-cancer/cancer_icon.png">
	           		  		</div>
	           		  	</div>
		          	</div>		
		          </div>
		          <div>
					<div class="item_container">
						<div class="sunsign_title">
							<div class="left_title">leo</div>
							<div class="mid_title"></div>
							<div class="right_title">virgo</div>
						</div>
						<div class="sunsign_text">
							<div class="left_text">
							{{sunsign_description.leo}}
							</div>
							<div class="mid_img">
								<img src="assets/img/astInner/leo-virgo/leo_middle.png">
							</div>
							<div class="right_text">
							{{sunsign_description.virgo}}	 
							</div>
						</div>
						<div class="sunsign_img">
							<div class="left_img">
								<img src="assets/img/astInner/leo-virgo/leo.png">
								<img src="assets/img/astInner/leo-virgo/leo_icon.png">
							</div>
							<div class="none_img"></div>
							<div class="right_img">
								<img src="assets/img/astInner/leo-virgo/virgo.png">
								<img src="assets/img/astInner/leo-virgo/virgo_icon.png">
							</div>
						</div>
					</div>
		          </div>
		          <div>
					<div class="item_container">
						<div class="sunsign_title">
							<div class="left_title">libra</div>
							<div class="mid_title"></div>
							<div class="right_title">scorpio</div>
						</div>
						<div class="sunsign_text">
							<div class="left_text">
							{{sunsign_description.libra}}
							</div>
							<div class="mid_img">
								<img src="assets/img/astInner/libra-scorpio/libra_middle.png">
							</div>
							<div class="right_text">
							{{sunsign_description.scorpio}}	 
							</div>
						</div>
						<div class="sunsign_img">
							<div class="left_img">
								<img src="assets/img/astInner/libra-scorpio/libra.png">
								<img src="assets/img/astInner/libra-scorpio/libra_icon.png">
							</div>
							<div class="none_img"></div>
							<div class="right_img">
								<img src="assets/img/astInner/libra-scorpio/scorpio.png">
								<img src="assets/img/astInner/libra-scorpio/scorpio_icon.png">
							</div>
						</div>
					</div>
		          </div>
		          <div>
					<div class="item_container">
						<div class="sunsign_title">
							<div class="left_title">Sagittarius</div>
							<div class="mid_title"></div>
							<div class="right_title">Capricorn</div>
						</div>
						<div class="sunsign_text">
							<div class="left_text">
							{{sunsign_description.sagi}}
							</div>
							<div class="mid_img">
								<img src="assets/img/astInner/sagi-capricorn/sagi_middle.jpg">
							</div>
							<div class="right_text">
							{{sunsign_description.capricorn}}	 
							</div>
						</div>
						<div class="sunsign_img">
							<div class="left_img">
								<img src="assets/img/astInner/sagi-capricorn/sagi.png">
								<img src="assets/img/astInner/sagi-capricorn/sagi_icon.png">
							</div>
							<div class="none_img"></div>
							<div class="right_img">
								<img src="assets/img/astInner/sagi-capricorn/capricorn.png">
								<img src="assets/img/astInner/sagi-capricorn/capricorn_icon.png">
							</div>
						</div>
					</div>
		          </div>
		          <div>
					<div class="item_container">
						<div class="sunsign_title">
							<div class="left_title">Aquarius</div>
							<div class="mid_title"></div>
							<div class="right_title">Pisces</div>
						</div>
						<div class="sunsign_text">
							<div class="left_text">
							{{sunsign_description.aquarius}}
							</div>
							<div class="mid_img">
								<img src="assets/img/astInner/aquarius-pisces/aquarius_middle.png">
							</div>
							<div class="right_text">
							{{sunsign_description.pisces}}	 
							</div>
						</div>
						<div class="sunsign_img">
							<div class="left_img">
								<img src="assets/img/astInner/aquarius-pisces/aquarius.png">
								<img src="assets/img/astInner/aquarius-pisces/aquarius_icon.png">
							</div>
							<div class="none_img"></div>
							<div class="right_img">
								<img src="assets/img/astInner/aquarius-pisces/pisces.png">
								<img src="assets/img/astInner/aquarius-pisces/pisces_icon.png">
							</div>
						</div>
					</div>
		          </div>
		        </div>
		      </div>
		    </div>
		</div>
	</div>
</div>

