<div class="ast-inner">
	<div class="ast-inner-container">
		<div class="ast-inner-carousel">
			<div class="container">
		      <div class="g-scrolling-carousel">
		        <div class="items">
		          <div style="background: red">
           				
		          </div>
		          <div style="background: blue" >
		           
		          </div>
		          <div style="background: green">
		           
		          </div>
		          <div style="background: yellow">
		            
		          </div>
		          <div style="background: pink">
		           
		          </div>
		          <div style="background: gray">
		            
		          </div>
		        </div>
		      </div>
		    </div>
		</div>
	</div>
</div>

