
<div class="astrology">
		<!-- poster="../../assets/img/astrology.jpg" -->
	<video  id="backgroundvid" autoplay muted loop>
		<!-- <source src="video.webm" type='video/webm; codecs="vp8.0, vorbis"'> -->
		<source src="../../assets/video/astrology.Ogg" type='video/ogg; codecs="theora, vorbis"'>
		<!-- <source src="video.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'> -->
		<p>Fallback content to cover incompatibility issues</p>
	</video>
	<div class="ast-title"  routerLink="/astrology/ast-inner">
		Astrology
	</div>
	<div class="ast_opacity">
		<div class="ast_entry_title" routerLink="/astrology/ast-inner"  >
			2019 yearly Horoscope
		</div>
	</div>
</div>







<!-- <div class="astrology img-hover-zoom--slowmo">
	<img src="../../assets/img/astrology.jpg">
	<div class="ast-title"  routerLink="/astrology/ast-inner">
		Astrology
	</div>
	<div class="ast_opacity">
		<div class="ast_entry_title" routerLink="/astrology/ast-inner"  >
			2019 yearly Horoscope
		</div>
	</div>
</div> -->


