.astrology {
	background-image: url("../../assets/img/astrology.jpg");
	height: 100%; 
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.ast_opacity {
	// background-color: rgb(167,194,178, .4);
	z-index: 11;
	width: 100%;
	height: 100%;
	
}

.ast_title {
	position: absolute;
	top: 40%;
	left: 20%;
	width: 800px;
	color: white;
	height: auto;
	font-size: 30px
}