<div class="progress">
  <div class="progress_container">
    <section routerLink="/intro" class="progress-section">
      <mat-progress-bar
          class="progress-margin"
          
          [value]="value"
          [bufferValue]="bufferValue">
      </mat-progress-bar>   
      <div class="bar_text">Intro</div>   
    </section>
    <section routerLink="/astrology"  class="progress-section">
      <mat-progress-bar
          class="progress-margin"
          
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
      </mat-progress-bar>  
      <div class="bar_text">Astrology</div>      
    </section>
    <section routerLink="/tarot" class="progress-section">
      <mat-progress-bar
          class="progress-margin"
          
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
      </mat-progress-bar>    
      <div class="bar_text">Tarot</div>    
    </section>
    <section routerLink="/about" class="progress-section">
      <mat-progress-bar
          class="progress-margin"
          
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
      </mat-progress-bar>      
      <div class="bar_text">About</div>  
    </section>
    <section routerLink="/counseling" class="progress-section">
      <mat-progress-bar
          class="progress-margin"
          
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
      </mat-progress-bar>    
      <div class="bar_text">Counseling</div>    
    </section>
  </div>
</div>