<div class="progressbar">
  <div class="progress_container">
    <div (click)="onIntro()" class="progress-section">
      <mat-progress-bar
          class="progress-margin"
          [value]="introVal"
          [bufferValue]="bufferValue">
      </mat-progress-bar>   
      <div class="bar_text">Introduction</div>   
    </div>
    <div routerLink="/astrology"  class="progress-section">
      <mat-progress-bar
          class="progress-margin"
          [mode]="mode"
          [value]="astVal"
          [bufferValue]="bufferValue">
      </mat-progress-bar>  
      <div class="bar_text">Astrology</div>      
    </div>
    <div routerLink="/tarot" class="progress-section">
      <mat-progress-bar
          class="progress-margin"
          [mode]="mode"
          [value]="tarotVal"
          [bufferValue]="bufferValue">
      </mat-progress-bar>    
      <div class="bar_text">Tarot</div>    
    </div>
    <div routerLink="/about" class="progress-section">
      <mat-progress-bar
          class="progress-margin"
          
          [mode]="mode"
          [value]="aboutVal"
          [bufferValue]="bufferValue">
      </mat-progress-bar>      
      <div class="bar_text">About</div>  
    </div>
    <div routerLink="/counseling" class="progress-section">
      <mat-progress-bar
          class="progress-margin"
          
          [mode]="mode"
          [value]="counselingVal"
          [bufferValue]="bufferValue">
      </mat-progress-bar>    
      <div class="bar_text">Counseling</div>    
    </div>
  </div>
</div>